<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Keychain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Mocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Store.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TrackingHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOSKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5226A9691F01A2990080B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5226A97F1F02BA4A0080B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5226A98D1F02BD2E0080B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529D501C1EFDB830001E3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529D50361EFFAED7001E3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529D504C1EFFB610001E3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529D50631EFFBE7D001E3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>529FDDBB1F0041A0000E550A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E7D7951F041B3800A0C207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E7D7AA1F041B9300A0C207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
